@model PetHotel.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você tem certeza de que quer deletar?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelecioneOPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelecioneOPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeChegadaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeChegadaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDePartidaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDePartidaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serviços)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serviços)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
