@model IEnumerable<PetHotel.Models.CadPet>

@{
    ViewData["Title"] = "Meu Pet";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <title>Meu Pet</title>
    <link rel="stylesheet" href="~/css/MeuPet.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</head>

    
    <div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Perfil do Pet
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
         
          
          </div>
        </div>

        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <div class="card-body media align-items-center">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-dog-dog-and-cat-justicon-flat-justicon.png" class="d-block ui-w-80">   
               </div>
               <hr class="border-light m-0">

           <div class="card-body">
            <div class="form-group">

                
               <div class="table">
                @foreach (var item in Model) {
                <div class="form-group">
                  <label class="form-label">CPF do dono</label>
                  <input id="campoCPF" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.CPF_Usuario)">
                </div>

               <div class="form-group">
                  <label class="form-label">Nome </label>
                  <input id="campoNome" type="text" class="form-control" readonly="readonly" value=" @Html.DisplayFor(modelItem => item.Nome)">
                </div>
            
                <div class="form-group">
                  <label class="form-label">Ano de nascimento</label>
                  <input id="campoAno" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.AnoNascimento)">
                </div>

                <div class="form-group">
                  <label class="form-label">Porte</label>
                  <input id="porte" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.Porte)">
                </div>

                <div class="form-group">
                  <label class="form-label">Raça</label>
                  <input id="campoRaca" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.Raca)">
                </div>

                <div class="form-group">
                  <label class="form-label">@Html.DisplayFor(modelItem => item.Raiva)</label>
                  <input id="campoRaca" type="text" class="form-control" value="@Html.DisplayNameFor(model => model.Raiva)">
                </div>

                <div class="form-group">
                  <label class="form-label">@Html.DisplayFor(modelItem => item.Giárdia)</label>
                  <input id="campoRaca" type="text" class="form-control" value="@Html.DisplayNameFor(model => model.Giárdia)">
                </div>

                <div class="form-group">
                  <label class="form-label">@Html.DisplayFor(modelItem => item.PolivalenteV8ouV10)</label>
                  <input id="campoRaca" type="text" class="form-control" value="@Html.DisplayNameFor(model => model.PolivalenteV8ouV10)">
                </div>

               
                <div class="media-body ml-4">
                    <div class="text-right mt-3">
                        <a asp-action="Create" type="button" class="btn btn-primary">Adicionar novo pet</a>
                        <a asp-action="Delete" type="button" class="btn btn-primary" asp-route-id="@item.Id">Deletar pet</a>
                        <a asp-action="Edit" type="button" class="btn btn-primary" asp-route-id="@item.Id">Editar pet</a>
                    </div>
                </div>  

}
    
<script>
        jQuery(function($){
            $("#campoCPF").mask("999.999.999-99",{placeholder:"000.000.000-00"});
            $("#campoAno").mask("9999",{placeholder:"0000"});
            });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</div>
</div>













