@model IEnumerable<PetHotel.Models.CadPet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giárdia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolivalenteV8ouV10)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giárdia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolivalenteV8ouV10)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
